* {
    /* `font-style: italic` là chữ nghiêng */
    font-style: italic;
}

/* Lựa chọn toàn bộ các thẻ có class-1 */
.class-1 {
    color: red;
    font-size: 50px;
}

/* Lựa chọn toàn bộ các thẻ h3, h4 */
h3, h4 {
    color: blue;
}

/* Lựa chọn toàn bộ thẻ li là con của class list */
.list li {
    color: greenyellow;
}
