body {
  font-family: Arial, sans-serif; /* Đặt font chữ mặc định là Arial, nếu không có thì dùng sans-serif */
  display: flex; /* Sử dụng flexbox để bố cục */
  justify-content: flex-start;
  align-items: flex-start; /* Căn dọc (trục phụ) từ phía trên */
  padding: 20px; /* Khoảng cách bên trong body với mép trình duyệt */

  /* nền */
  background-image: url("/static/video-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper {
    display: flex;          /* Xếp 2 container theo hàng */
    justify-content: flex-start; /* container1 sát trái */
    align-items: flex-start; /* căn trên cùng */
    gap: 50px;              /* khoảng cách giữa 2 container */
    padding: 20px;
}

.container {
    background: #fff;
    margin-right: 5%;
    padding: 20px 30px; /* Khoảng cách bên trong (trên dưới 20px, trái phải 30px) */
    border-radius: 12px; /* Bo góc khung */
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1); /* Đổ bóng mờ dưới container */
    width: 600px; /* Chiều rộng cố định */
}

.container2 {
    background: burlywood;
    padding: 40px 30px; 
    border-radius: 12px; 
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1); 
    width: 900px; 
    p {color: black;}
}

.container h1 {
    text-align: center;
    margin-bottom: 20px; /* Tạo khoảng cách dưới */
    color: #333;
}

.container2 h1 {
    text-align: center;
    margin-bottom: 20px; /* Tạo khoảng cách dưới */
    color: black;
}

p {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.todo-form {
    justify-content: center;
    align-items: flex-start;
    display: flex; /* Sắp xếp input, select và button trên 1 dòng */
    gap: 1px; /* Khoảng cách giữa các phần tử */
    margin-bottom: 20px; /* Tạo khoảng cách với danh sách bên dưới */
}

.todo-form input, .todo-form select, .todo-form button {
    padding: 10px; /* Tạo khoảng cách bên trong */
    border: 3px solid blueviolet; 
    border-radius: 20px; /* Bo tròn góc */
}

.todo-form button {
    background: #28a745;
    color: white;
    border: none; /* Xóa viền */
    cursor: pointer; /* Đổi chuột thành bàn tay khi hover */
    transition: 0.3s;
}

.todo-form button:hover {
    background: #218838; /* Khi hover, đổi màu xanh đậm hơn */
}

.todo-list {
    list-style: none; /* Bỏ dấu chấm đầu dòng mặc định */
    padding: 0; /* Xóa khoảng cách mặc định */
}

.todo-list li {
    display: flex; /* Sắp xếp các phần tử trong li theo hàng ngang */
    justify-content: space-between; /* Dàn đều: trái - giữa - phải */
    align-items: center;
    padding: 10px; /* Khoảng cách trong li */
    margin-bottom: 8px;
    background: #f9f9f9; 
    border-radius: 30px; 
    border-left: 5px solid rgba(7, 7, 61, 0.81);
    border-right: 5px solid rgba(7, 7, 61, 0.81);
}

.task {
    flex: 5; /* Cho phần text chiếm tối đa không gian còn lại */
    font-weight: bold; /* In đậm nội dung task */
}

.date {

    margin: 0 10px; /* Khoảng cách trái phải 10px */
    font-size: 0.9em; /* Giảm cỡ chữ */
    color: #666;
}

.priority {
    padding: 8px 16px; /* Khoảng cách bên trong */
    border-radius: 25px;
    font-size: 0.75em;
    font-weight: bold;
    text-transform: capitalize;
}

.priority.low { background: #0ac937; color: #110202; }
.priority.medium { background: #f5bd05; color: #110202; }
.priority.high { background: #ff0602; color: #110202; }

.delete {
    margin: 0 10px;
    text-decoration: none; /* Bỏ gạch chân */
    font-size: 0.9em; /* Chữ to hơn một chút */
    color: #dc3545;
}

.message {
    display: none;
    background: #28a745;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 6px;
    font-weight: bold;
    animation: fadeIn 0.5s ease;
}

.filter {
    margin: 10px 0 20px 0;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.todo-list li:hover {
    background: #f81a1a;
    transition: 0.3s;
}

.container2 img {
    display: block;      /* chuyển img từ inline thành block để margin auto hoạt động */
    margin: 0 auto;      /* tự động căn trái và phải */
    max-width: 100%;     /* tránh vượt container */
    height: auto;        /* giữ tỉ lệ */
}